@import  "bootstrap.scss"
@import  "color.sass"

body 
  background-color: #393e46

.headColor1
  height: 80px
  background-color: #222831

.headColor2
  background-color: #00ADB5

.logo
  width: 300px

.bc1
  background-color: #fff


@import  "menu.scss"